.form {
  font-size: 50px;
  width: 100%;
}
.Editbtn {
  color: rgb(232 154 63);
  background-color: white;
  width: 144px;
  height: 58px;
  font-size: 20px
}
.Editbtn:hover {
  color: white;
  background-color: orange;
}
.drawer-footer {
  text-align: center;
  padding: 16px 24px;
  border-top: 1px solid #e8e8e8;
}
.btn-box{
  display: flex;
  justify-content: space-between;
}
:deep :where(.css-dev-only-do-not-override-16pw25h).ant-form-item .ant-form-item-label >label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 58px;
  color: rgba(176, 176, 176, 1);
  font-size: 30px;
}
:deep :where(.css-dev-only-do-not-override-16pw25h).ant-input-lg {
  padding: 7px 11px;
  font-size: 30px;
  line-height: 0.1;
  border-radius: 8px;
}
:deep :where(.css-dev-only-do-not-override-16pw25h).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 60px;
  padding: 7px 11px;
  font-size: 30px;
  line-height: 1.5;
  border-radius: 8px;
  border: none;
}
:deep :where(.css-dev-only-do-not-override-16pw25h).ant-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  justify-content: center;
}
